VITE_SUPABASE_URL=https://ozkgkgqahgwuwmohslsr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im96a2drZ3FhaGd3dXdtb2hzbHNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk0Mjk2NDEsImV4cCI6MjA3NTAwNTY0MX0._AOVNMhgLF9LnNvEqVeRde2do6ToIgNGXAgtOmAPLOo
